extends ../base

block content 
  form(method="post")
    if errorMessage 
      span=errorMessage
    input(name="title" type="text" required placeholder="Title")
    textarea(name="contents" type="text" required placeholder="Description")
    input(type="submit" value="Upload")