extends ../base
include ../mixins/notice

block content
  each notice in notices
    +notice(notice)
  else
    h4 Not Notice
  if loggedInUser.identifier === "admin"
    div.upload
      a.upload-a(href="/notice/upload") 게시물 작성
block scripts
  script(src="/static/js/noticeView.js")