extends ../base

block content 
  h3.notice-post 공지사항 작성
  form.form__post(method="post")
    if errorMessage 
      span=errorMessage
    input.form__post-space(name="title" type="text" required placeholder="Title")
    textarea(name="contents" type="text" required placeholder="Description")
    input(type="submit" value="Upload")