extends ../base

block content 
  form.form__post(method="post")
    if errorMessage 
      span=errorMessage
    input.form__post-space(name="title" type="text" required placeholder="Title" value=notice.title)
    textarea(name="contents" type="text" required placeholder="Description" )=notice.contents
    input(type="submit" value="Upload")