extends ../base
include ../mixins/notice

block content
  each notice in notices
    +notice(notice)
  else
    h4 Not Notice
  if loggedInUser.name === "admin"
    a(href="/notice/upload") Notice Upload
block scripts
  script(src="/static/js/noticeView.js")