div.footer__main
  div.footer__container
    img(src="/logo.png" type="image/png")
    div.footer__social
      a.fa-brands.fa-instagram.fa-2xl(href="https://www.instagram.com")
      a.fa-brands.fa-facebook.fa-2xl(href="https://ko-kr.facebook.com/")
      a.fa-brands.fa-twitter.fa-2xl(href="https://twitter.com/")
    footer &copy; #{new Date().getFullYear()} Developer JbleMaker by THREEMONTH
