header 
  div
    a(href="/") Home
    nav
      ul 
        li 
          a(href="/search") Search
        li
          a(href="/videos/upload") Video Upload
        li
          a(href="/login") Login
        li
          a(href="/join") Join
  nav
    ul
      li
        a(href="/marketView") Market
      li
        a(href="/communityView") Community
      li
        a(href="/noticeView") Notice




  h1=pageTitle