header 
  a(href="/").header__logo
    img(src="/logo.png" type="image/png")
  div.header__list
    nav
      ul.header__list-user
        li 
          a(href="/search") Search
        if loggedIn 
          if loggedInUser.identifier ==="admin"
            li
              a(href="/videos/upload") Video Upload
          li
            a(href="/users/edit") Edit Profile
          li
            a(href="/users/logout") LogOut
          li
            a(href=`/users/${loggedInUser._id}`)
              if !loggedInUser.avatarUrl
                span 😍
              else
                img.header__avatar(src=loggedInUser.avatarUrl, crossorigin)
        else
          li
            a(href="/join") Join
          li
            a(href="/login") Login
div.header__content
  ul.header__list-content
    li
      a(href="/marketView") Market
    li
      a(href="/communityView") Community
    li
      a(href="/noticeView") Notice