extends ../base

block content 
  form(method="post") 
    input(name="oldPassword" placeholder="Old Password" type="password")
    input(name="newpassword" placeholder="New Password" type="password")
    input(name="passwordcheck" placeholder="New Password Check" type="password")
    if errorMessage 
      h4=errorMessage
    input(type="submit" value="Change Password")