extends ../base
include ../mixins/video
include ../mixins/market
include ../mixins/notice
include ../mixins/community

block content
  div.profile__data
    img(src=user.avatarUrl crossorigin).avatar
    h3=user.name
  div.video-grid
    each video in user.videos
      +video(video)
    else 
      span.empty__message No Videos found.

  div.userProfile__post
    div.content__main
      each notice in user.notices 
        +notice(notice)
      else 
        li There are no Notice posts.

    div.content__main
      each market in user.markets 
        +market(market)
      else 
        li There are no Market posts.

    div.content__main
      each community in user.communities
        +community(community)
      else 
        li There are no Community posts.