extends ../base

block content
  h3.market-post 게시물 작성
  form.form__post(method="post")
    if errorMessage 
      span=errorMessage
    input.form__post-space(name="title" type="text" required placeholder="Title")
    select(name="division")
      option(value="데크") 데크
      option(value="바인딩") 바인딩
      option(value="부츠") 부츠
      option(value="헬맷") 헬맷
      option(value="의류") 의류
      option(value="고글") 고글
      option(value="기타") 기타
    input.form__post-space(name="price" type="text" required placeholder="가격")
    input.form__post-space(name="zone" type="text" required placeholder="지역")
    textarea(name="contents" type="text" required placeholder="Description")
    input(type="submit" value="Upload")