extends ../base
include ../mixins/market

block content 
  each market in markets 
    +market(market)
  else 
    h4 There are no posts.
  div.upload
    a.upload-a(href="/market/upload") 게시글 작성
block scripts 
  //- script(src="/static/js/marketView.js")